#header {
    background-color:rgba(188, 248, 243, 0.3);
    color: rgb(49, 41, 121);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    padding:10px;
}
#nav {
    line-height: 500%;
    font-size: larger;
    font-weight: bold;
    background-color: rgb(165, 183, 202,0.3);
    height:450px;
    width:260px;
    text-align: center;
    float:left;
    padding:5px; 
}

#section {
    width: 550px;
    text-align: justify;
    text-indent: 30px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 270%;
    float: left;
    padding:10px; 
}

#example {
  width: 1000px;
  height: 800px;
  float: right;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  }

  
  #footer {
    background-color:rgba(20, 41, 112, 0.6);
    color: rgb(21, 4, 53);
    clear:both;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 8px;
    font-weight: bold;
    text-align:center;
    padding:5px; 
}